body {
  font-family: "Markazi Text";
  font-size: larger;
}
.App {
  text-align: center;
  font-family: "Markazi Text";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.submit-btn {
  margin: 2rem;
  min-height: 2rem;
  border-radius: 0.5rem;
  font-weight: 900;
  font-family: "Markazi Text";
  font-size: 20px;
}

.label-color {
  color: rgb(11, 7, 7);
  padding-top: 1rem;
  font-weight: bold;
  font-family: "Markazi Text";
  font-size: 20px;
}

.form-bg {
  /* background-image: url("/src/images/restauranfood.jpg"); */
  background-image: url("/src/images/restaurant.jpg");
  background-size: cover;
  /* background-repeat: repeat-y; */
}

.field-submit {
  min-height: 2rem;
  border-radius: 0.5rem;
  font-weight: bold;
  font-family: "Markazi Text";
  font-size: 20px;
}

.about-us {
  background-image: url("/src/images/MarioandAdrianA.jpg");
  background-size: cover;
}

.text-color {
  color: #f4ce14;
}

.img-list {
  padding: 2em;
}
